@tailwind base;
@tailwind components;
@tailwind utilities;

.apply-container a {
  @apply invisible relative w-min
}

.apply-container p {
  @apply invisible w-1/2
}

.apply-container a:after{
  content: "QUICK APPLY";
  @apply visible bg-blue-500 py-3 px-9 block text-white font-semibold text-lg hover:shadow-md transition-shadow absolute top-0 left-0 w-min whitespace-nowrap
}

.description-container a {
  @apply text-blue-500 underline w-1/2
}

.description-container p {
  @apply mb-2
}

.description-container ul {
  @apply list-inside list-disc mb-4
}

.description-container li {
  @apply ml-4
}
